.btn-signup {
	color: #ade8f4 !important;
	font-size: 1rem;
	font-weight: 500;
	padding: 0.4rem 1rem;
	border-radius: 0.75rem;
	background-color: #023e8a;
}
.btn:hover {
	color: #ade8f4;
	background-color: #276ecc;
}

.btn-premium {
	color: #ade8f4;
	background-color: #023e8a;
	border-radius: 2rem;
	font-weight: 500;
}
