h3 {
	font-size: 0.9rem;
	font-weight: 500;
	margin-bottom: 0.2em;
}
.post a {
	text-decoration: none !important;
	color: inherit !important;
}
.post a:hover {
	color: initial;
}
p {
	font-size: 0.9rem;
}

.post header p {
	font-size: 0.7rem;
	margin-top: -3px;
	opacity: 0.4;
}

.post {
	background: #fff;
	padding: 2rem 1.5rem;
	color: #000;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.halfborder {
	border-radius: 10px 0 0 10px;
}

.post__dp {
	width: 100px;
	height: 100px;
}

.post__details {
	gap: 0.75rem;
}

.post__image {
	min-width: 100%;
	min-height: 100%;
	border-radius: 20px;
	object-fit: cover;
}
.user-info h3 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #03045e;
}
.user-info p {
	font-size: 0.9rem;
	color: #0077b6;
}
.post__footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 0.5rem;
}

.post__reactions {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
	width: 50%;
	flex-shrink: 0;
}

.post__reactions img {
	height: 25px;
	cursor: pointer;
}

.post__reactions p {
	position: relative;
	top: 1.5px;
	font-size: 1rem;
	font-weight: 400;
}

@media (max-width: 1100px) {
	.post__reactions {
		width: 25%;
	}
}

@media (max-width: 800px) {
	.halfborder {
		border-radius: 10px;
	}
	.post {
		padding: 1rem;
	}
}
